@import "vars.css";

html {
  font-family: var(--slidev-theme-font-sans);
  background-color: var(--slidev-theme-bg);
  color: var(--slidev-theme-text);
}

pre,
code {
  font-family: var(--slidev-theme-font-mono);
}

.slidev-layout {
  @apply h-full w-full p-10;
  background-color: var(--slidev-theme-bg);
  color: var(--slidev-theme-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  color: var(--slidev-theme-text);
}

h1 {
  @apply text-5xl mb-6;
}

h2 {
  @apply text-3xl mb-4;
}

p,
li {
  @apply leading-relaxed;
}

strong {
  color: var(--slidev-theme-primary);
}

a {
  color: var(--slidev-theme-primary);
  @apply underline decoration-2 underline-offset-4 transition-colors;
}

a:hover {
  @apply text-green-700;
}


/* Common styles shared between components and layouts */